﻿
@{
    ViewBag.Title = "Index";
}

<h2>Asignar medico</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<select name="persona" id="persona" class="form-control">
    @foreach (var p in ViewBag.Personas)
    {
        <option id="@p.Id">@p.Email</option>
    } 
</select>

<br /> 
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Habilitar" class="btn btn-default" />
    </div>
</div>


}