﻿@model IEnumerable<TurnosWeb.Models.ViewModels.ListaHorariosViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuracionTurno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadTurnos)
        </th>
        
        <th>
            <p>Borrar</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadTurnos)
            </td>
            <td>
                @Html.ActionLink("Borrar", "Delete", new { id = item.HorarioId },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

