﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("Paciente"))
                    {
                    <li>@Html.ActionLink("Sacar Turno", "Index", "Turnos")</li>
                    <li>@Html.ActionLink("Turnos","Turnos","Turnos")</li> 
                    <li>@Html.ActionLink("Asignar los datos","Create","Pacientes")</li>                   
                    }
                    @if (User.IsInRole("Medico"))
                    { 
                        <li>@Html.ActionLink("Configurar Horarios", "Index","Horarios")</li>
                        <li>@Html.ActionLink("Asignar los datos", "Create", "Medicos")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Asignar Medicos","Index","Admin")</li>
                        <li>@Html.ActionLink("Medicos","Index","Medicos")</li>
                        <li>@Html.ActionLink("Pacientes","Index","Pacientes")</li>
                        <li>@Html.ActionLink("Confirmar Turnos","TurnosPacientes","Admin")</li>               
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
