﻿@model TurnosWeb.Servicios.ViewModels.AsignacionVM
{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{

<table>
    <tr>
        <td>@Html.DropDownListFor(modelo=>modelo.Rol,new SelectList(ViewBag.Roles,"Id","Name",new { @class = "form-control" } ))</td>
    </tr>
    <tr>
        <td>@Html.DropDownListFor(modelo=>modelo.Persona,new SelectList(ViewBag.Usuarios,"Id","Email"),new { @class = "form-control" }) (</td>
    </tr>
    <tr>      <td><input type="submit" value="Asignar" class="btn btn-default"</td></tr>
</table>
}