﻿@model List<TurnosWeb.Models.Especialidad>
@{
    ViewBag.Title = "Reserva Turno";
}
<h2>Reserva de Turno</h2>

<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Petroni Jorge</h1>
        </div>
    </div>
    <div class="col-md-6"></div> 
</div>


<div class="row">
    <div class="col-md-9"> 
        
            <div class="row"> 
                <div class="col-md-12">
                    <label for="especialidad">Especialidad</label>
                    <select id="especialidad" class="form-control">
                        <option id="0">-- Seleccione --</option>
                        @foreach (var s in Model)
                        {
                            <option id="@s.Id">@s.Descripcion</option>
                        } 
                    </select>
                    <label for="profecional">Profecional</label>
                    <select id="profecional" class="form-control">
                        <option id="0">-- Seleccione --</option>
                    </select>  
                    <label for="fecha">Fecha</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-date="The field Fecha must be a date." data-val-required="La Fecha es obligatoria" id="Fecha" name="fecha" type="date" value="">
                        </div>
                        <div class="col-md-4">
                           <a href="javascript:ConsultarTurno()" class="btn btn-primary">Consultar</a> 
                        </div>
                   </div>
                </div>
            </div> 

        <br />
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Turnos</div> 
                <!-- Table -->
                <table class="table" id="turnos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        <button class="btn btn-success">Solicitar Turno</button>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Mis Turnos</div>

            <!-- Table -->
            <table class="table" id="misturnos">
                 
            </table>
        </div>
    </div>
</div>


<script src="~/Scripts/ReservaTurno.js"></script>
