﻿@model IEnumerable<TurnosWeb.Models.Turno>

@{
    ViewBag.Title = "TurnosDisponibles";
}

<h2>TurnosDisponibles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medico.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraTurno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstaBorrado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoTurno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraTurno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstaBorrado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoTurno)
        </td>
        <td>
            @Html.ActionLink("Reservar", "Reservar", item) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
